
{% load static %}
<html>
<head>
    <title>{% block title %}ergregreggeegeg{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="side-panel">
        <a href="/home">Home</a>
        <a href="/customers">Customers</a>
        <a href="/raw">Raw</a>
        <div class="dropdown">
            <button class="dropdown-btn">Assets</button>
            <div class="dropdown-content">
                <a href="/assets/chargers">Chargers</a>
                <a href="/assets/asset2">Asset 2</a>
                <a href="/assets/asset3">Asset 3</a>
            </div>
        </div>
    </div>
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>