{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Customers</h1>
    <button>Create New Customer</button>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created Time</th>
                <th>Email</th>
                <th>State</th>
                <th>City</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.customer_name }}</td>
                    <td>{{ customer.customer_creationTime }}</td>
                    <td>{{ customer.customer_email }}</td>
                    <td>{{ customer.customer_state }}</td>
                    <td>{{ customer.customer_city }}</td>
                    <td>
                        <button>Manage Customer</button>
                        <button>Manage Customer Assets</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}